# === Security & Environment ===
.env
.env.*
!/env.example
keystore.p12
*.p12

# === Maven / Build ===
target/
**/target/
**/build/
target/*.jar
target/*.war
*.zip
*.tar.gz

# === IntelliJ IDEA ===
.idea/
*.iml
*.ipr
*.iws
out/

# === VS Code ===
.vscode/

# === Eclipse / STS ===
.settings/
.classpath
.project
.sts4-cache/

# === NetBeans ===
.nbbuild/
nbproject/private/
dist/
nbdist/

# === Logs & Temps ===
*.log
logs/
debug.log
temp/
*.tmp
*.bak

# === Test / Coverage / Quality ===
surefire-reports/
failsafe-reports/
jacoco.exec
coverage/
*.hprof
.scannerwork/

# === System Files ===
.DS_Store
desktop.ini
thumbs.db

# === Editor temp files ===
*.swp
*.swo
*~