<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="core-scripts">

    <!-- External -->
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <!-- Core -->
    <script th:src="@{/js/fetch-interceptor.js}"></script>

    <!-- Modals -->
    <script th:src="@{/js/client-modal.js}"></script>
    <script th:src="@{/js/edit-modal.js}"></script>
    <script th:src="@{/js/manager-modal.js}"></script>
    <script th:src="@{/js/renew-modal.js}"></script>
    <script th:src="@{/js/details-modal.js}"></script>
    <script th:src="@{/js/delete-modal.js}"></script>
    <script th:src="@{/js/success-modal.js}"></script>
    <script th:src="@{/js/error-modal.js}"></script>
    <script th:src="@{/js/server-modals.js}"></script>

    <!-- Features -->
    <script th:src="@{/js/search-clear.js}"></script>

</th:block>
</html>