<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${@environment.getProperty('app.display.name')}">GYM</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/icons.css}"/>
    <link rel="stylesheet" th:href="@{/css/my.css}"/>
</head>

<body class="app-background d-flex justify-content-center align-items-center">

<div class="alerts-container">
    <div th:if="${errorMessage}" class="custom-alert alert-error">
        <div class="alert-content">
            <i class="lni lni-cross-circle alert-icon"></i>
            <span class="alert-text" th:text="${errorMessage}">Error</span>
        </div>
        <button class="alert-close" onclick="this.parentElement.remove()">
            <i class="lni lni-close"></i>
        </button>
    </div>
    <div th:if="${successMessage}" class="custom-alert alert-success">
        <div class="alert-content">
            <i class="lni lni-checkmark-circle alert-icon"></i>
            <span class="alert-text" th:text="${successMessage}">Success</span>
        </div>
        <button class="alert-close" onclick="this.parentElement.remove()">
            <i class="lni lni-close"></i>
        </button>
    </div>
</div>

<div class="card register-card p-5 shadow">
    <div class="app-display-name mb-3" th:text="${@environment.getProperty('app.display.name')}">GYM</div>

    <hr class="gradient-center-light">

    <div class="display-header mt-3 mb-4" th:text="#{user.register.header}">Register</div>

    <form th:action="@{/register/save}" th:object="${user}" method="post">
        <div class="mb-3">
            <div class="input-group">
                <span class="input-group-text form-input-group-text">
                    <i class="lni lni-user" aria-hidden="true"></i></span>
                <input class="form-control form-input" id="firstName" th:field="*{firstName}" type="text"
                       th:placeholder="#{form.firstName}" required>
            </div>
            <div th:if="${#fields.hasErrors('firstName')}"
                 th:errors="*{firstName}"
                 class="text-danger small px-2 mt-1"></div>
        </div>

        <div class="mb-3">
            <div class="input-group">
                <span class="input-group-text form-input-group-text">
                    <i class="lni lni-user" aria-hidden="true"></i></span>
                <input class="form-control form-input" id="lastName" th:field="*{lastName}" type="text"
                       th:placeholder="#{form.lastName}" required>
            </div>
            <div th:if="${#fields.hasErrors('lastName')}"
                 th:errors="*{lastName}"
                 class="text-danger small px-2 mt-1"></div>
        </div>

        <div class="mb-3">
            <div class="input-group">
                <span class="input-group-text form-input-group-text">
                    <i class="lni lni-envelope" aria-hidden="true"></i></span>
                <input class="form-control form-input" id="email" th:field="*{email}" type="email"
                       th:placeholder="#{form.email}" autocomplete="off" required>
            </div>
            <div th:if="${#fields.hasErrors('email')}"
                 th:errors="*{email}" class="text-danger small px-2 mt-1"></div>
        </div>

        <div class="mb-3">
            <div class="input-group">
                <span class="input-group-text form-input-group-text">
                    <i class="lni lni-lock-alt" aria-hidden="true"></i></span>
                <input class="form-control form-input" id="password" th:field="*{password}" type="password"
                       th:placeholder="#{form.password}" autocomplete="off" required>
            </div>
            <div th:if="${#fields.hasErrors('password')}"
                 th:errors="*{password}"
                 class="text-danger small px-2 mt-1"></div>
        </div>

        <button class="btn btn-danger w-100 fw-bold rounded-pill d-flex align-items-center justify-content-center gap-2"
                type="submit">
            <i class="lni lni-checkmark"></i>
            <span th:text="#{form.register}">Register</span>
        </button>

        <div class="text-center mt-5">
            <span th:text="#{login.register.user.yes}">Already have an account?</span>
            <a th:href="@{/login}" class="fw-bolder text-decoration-none text-danger" th:text="#{login.register.signin}">
                Sign in here!
            </a>
        </div>
    </form>
</div>
</body>
</html>